*{width: 990px;margin: 0 auto;font-size: 12px;font-family: 微软雅黑}
body{background: url("../img/bg2.png") repeat-x;}
a{color: black}
input{outline: none}
.head{width: 990px;height: 25px;background-color: #eeeeee;padding-left: 3px;line-height: 25px}
.h_left{width: 457px;height:25px;float: left}
.h_left a{color: #666666}
.h_left a:hover,.h_right a:hover{color: red}
.h_right{width: 533px;float: left}
.h_right ul li{float: left;width: auto;height: 25px}
.h_right a{color: #666666;padding-left: 2px}
.h_right a b{color: red}
.h_right em{color: #666666;padding: 0 8px 0 8px}
.buy{padding: 2px;padding-right: 6px;background-color: #ffffff;border: 1px solid #d8d8d8;margin-left: 8px;margin-right: 8px}
.buy img{width: 15px;height: 13px;}
.triangle{width: 8px;height: 4px;padding-left: 6px;padding-bottom: 2px}/*行级元素不能嵌套块级元素，也尽量少嵌套行级元素，能用padding就少用margin，因为margin会引起塌陷*/
.h_right .father{width: auto;position: relative}
.h_right .son{position: absolute;left: -10px;display: none;width: auto;z-index: 100}
.h_right .son li{clear: both;width: 80px;height: 30px;background-color: #df4b66;text-align: center;line-height: 30px}
.h_right .son li a{color: white;}
.h_right .son li a:hover{color: yellow}

.search{width: 990px;height: 74px;position: relative;}
.s_left{width: 400px;height: 74px;float: left}
.s_left img{width: 201px;height: 36px;padding-top: 26px;}
.s_left a{color: #7e7e7e;position: relative;left: 13px;bottom:8px;}
.s_left .picc{width: 13px;height: 13px;position: relative;left: 13px;bottom: 4px;cursor: pointer}

 .chance_list{;width: 100px;height:auto;position: absolute;left: 218px;top: 64px;z-index: 3;display: none}
/*.s_left .chance_list ul{width: 100px;height:auto;position: absolute;z-index: 2}*/
 .chance_list ul li{width: 100px;height: 30px;text-align: center;line-height: 30px;background-color: brown;color: white;border-bottom: 1px solid sandybrown}
 .chance_list ul li a{color: white;position: static}
 .chance_list ul li a:hover{color: red}
 .chance_list ul li:first-child{border-radius: 6px 6px 0 0}
 .chance_list ul li:last-child{border-radius: 0 0 6px 6px}

.s_right{width: 590px;height:74px;float: left}
.s_right .ct{width: 590px;padding-top: 14px;position: relative}
.s_right .ct a{padding: 4px 15px 4px 15px;cursor: pointer}
.bg{background-color: #f47b0a;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;font-weight: bold;color: white}
.s_right .ct input{width: 476px;height: 26px;line-height: 26px;border: 3px solid #f47b0a;vertical-align: top}
.s_right .ct button{width: 100px;height: 32px;border:2px solid #f37b0a;color: white;background-color: #fa9513;}
.s_right .ct button b{font-size: 15px;letter-spacing: 4px;cursor: pointer}
.s_right .ct img{width: 24px;height: 22px;position: absolute;left:3px;top:35px }

.menu .up{clear: both;width: 990px;height: 30px;position: relative;}
.menu .up .look{border: 1px solid #c6c6c6;border-radius: 4px 4px 0 0;border-bottom:1px solid #ffffff ;font-weight: bold;}/*脚本涉及到look*/
.menu .up .shang{width: 70px;height: 30px;float: left;text-align: center;cursor: pointer}
.menu .up .shang a{line-height: 30px;font-size: 15px;}
.menu .up .GG{width: 568px}
.menu .up .xia_ul{position: absolute;top: 35px;left: 0;width: auto}
.show{display: block;z-index: 2}/*脚本涉及到*/
.hid{display: none;z-index: 1}/*脚本涉及到*/
.menu .up .xia{width: 70px;height: 20px;text-align: center;float: left;font-size: 15px;border-right: 1px dashed #d7d7d7 }
.menu .up .xia a{font-size: 15px;line-height: 20px;padding: 0px 5px 0px 5px;font-weight: bold;cursor: pointer }
.menu .up .xia a:hover{background-color: #ed4a69}
.menu .down{clear: both;width: 990px;height: 68px;border: 1px solid transparent;position: relative}
.menu .down .protect{width: auto;position: absolute;top:4px;left: 728px}
.menu .down .protect a{margin-left: 15px;color: #808080}
.menu .down .protect a:hover{color: red;text-decoration: underline}
.menu .down .protect img{vertical-align: text-top;margin-right: 4px;width: 14px;height:16px}
.menu .down .bb{margin-top: 3px;position: relative}
.menu .down .soGirl{clear: both;width: 990px;height: 32px;border-top: 1px dashed #d7d7d7;margin-top: 30px}
.menu .down .soGirl ul li{width: 80px;height: 24px;background: #f9f9f9;padding-left: 12px;line-height: 24px;font-size: 15px;border: 1px solid #cccccc;position: relative;float: left;cursor: pointer}
.menu .down .soGirl .girl_kind {width: auto;height: auto;position: absolute;left: -1px;top: 24px;display: none;z-index: 2}
.menu .down .soGirl .girl_kind li{clear: both;width: 80px;height: 24px;border-bottom: none;background-color: chocolate}
.menu .down .soGirl .girl_kind li:last-child{border-bottom: 1px solid #cccccc;}
.menu .down .soGirl .girl_kind li a{color: white}
.menu .down .soGirl .girl_kind li a:hover{color: red}
.menu .down .soGirl input{width: 175px;height: 24px;line-height: 24px;border: 1px solid #cccccc;border-left: none;float: left}
.menu .down .soGirl button{color: #de4966;font-size: 12px;font-weight: 600;height: 26px;width: 57px;border: 1px solid #cccccc;margin-left: 6px;}
.menu .down .soGirl span a{color: #808082;}
.menu .down .soGirl span a:hover{color: red}


.blank{width: 990px;height: 10px;}
.blank_two{width: 790px;height: 20px;margin-left:10px;float: left}
.blank_three{width: 790px;height: 14px;margin-left:10px;float: left;}
.blank_four{width: 990px;height: 16px;}

 .medding_choice{position: relative}
.girl_channel{width: 188px;height: 737px;background: url("../img/girl_channel.png") no-repeat;float: left;position: relative}/*能用背景尽量用背景，不要插入图片*/
.girl_channel img{}
.girl_channel .medding_text{position: absolute;top: 153px;width: 188px;height: 88px}
.girl_channel .medding_text ul{}
.girl_channel .medding_text ul li,.dress_text ul li,.cheongsam_text ul li{width: 83px;height: 30px;line-height: 40px;border-bottom: 1px solid #f1f1f1}
.girl_channel .medding_text ul li a,.dress_text ul li a,.cheongsam_text ul li a{color: black;}
.girl_channel .medding_text ul li a:hover,.dress_text ul li a:hover,.cheongsam_text ul li a:hover{color: red;}
.girl_channel .dress_text{position: absolute;top: 358px;width: 188px;height: 88px}
.girl_channel .cheongsam_text{position: absolute;top: 566px;width: 188px;height: 88px}
.banner{width: 540px;height: 289px;margin-left: 10px;float: left;}
.banner img{width: 540px;height: 289px;position: absolute;cursor: pointer;}
.medding_choice .digital{width: 20px;height:20px;float: left;text-align: center;line-height: 20px;border-radius: 10px;
    margin-right: 5px;background-color: #ffffff;color: #404040;font-weight: 600;cursor: pointer}
.banner img{width: 540px;height: 289px;position: absolute;cursor: pointer;}
.medding_choice .bgg{background-color: black;color: white}
.time{width: auto;height:auto;position: relative}
.time ul{width: auto;height:auto;position: absolute;right: 12px;top: 12px}
.time ul li{width: 22px;height:20px;margin-left: 8px;font-size: 16px;text-align: center;line-height: 22px;float: left;}
.time ul li a{color: deeppink;font-size: 16px;}
.time .timespan{width: auto;height:auto;position: absolute;right: 1px;top: 12px;color: red;font-size: 16px;}
.time img{width: 238px;height: 245px;margin-left: 10px;cursor: pointer;float: left}
.headline{width: 790px;height: 28px;margin-left: 10px;line-height: 24px;float: left;}
.headline b{font-size: 18px;color: #5d5d5d;margin-left: 10px;}
.headline em{font-size: 14px;color: red;font-weight: 600}
.headline span{width: 540px;border-bottom: 2px solid #cfccd7;color: #818181;line-height: 24px;float: right}
.headline span a{padding-left: 262px}
.headline img{width: 45px;height: 19px}
.list_one{width: 790px;height: auto;margin-left:10px;float: left}
.list_one ul li{width: auto;margin-left:4px;float: left}
.list_one ul li img{width: 193px;height: 306px;;cursor: pointer}
.list_one ol{list-style: none;float: left}
.list_one ol li{width: 193px;height: 36px;line-height: 36px;margin-left: 4px;float: left;}
.list_one ol li a:hover{color: red}
.list_one ol li img{width: 31px;height: 33px;vertical-align: middle}

.dress{clear: both;width: 990px;height: 705px;}
.dress .heading{width: 990px;height: 43px;}
.dress .heading_img{width: 190px;height: 43px;border-bottom: 2px solid #de4a66;float: left}
.dress .heading_text{width: 800px;height: 43px;border-bottom: 2px solid #cfccd7;color: #818181;line-height: 24px;float: left}
.dress .heading_text a{letter-spacing: 2px;color: #808080;line-height: 66px}
.dress .heading_text a:hover{color: red}
.dress .heading_text img{position: relative;left: 4px;top: 4px;}
.list{margin-top: 10px}
.pic_left{width: 400px;height: 537px;float: left}
.pic_mid{width: 190px;height: 537px;margin-left: 1px;float: left}
.pic_right{width: 399px;height: 537px;float: left}
.brand {clear: both;width: 990px;height:113px;padding-top: 10px;background: url("../img/brand.png") no-repeat}
.brand ul{width: 70px;height:115px;margin-right: 25px;float: left}
.brand ul li{width: 70px;height: auto;text-align: center}
.brand ul li a{color: #404040;}
.brand ul li a:hover{color: red;}
.brand img{width: 74px;height: 74px}
.brand img{width: 74px;height: 74px}
.different_people{width: 990px;height: 134px}
.different_people ul li{width: 247px;height: 134px;float: left}
.different_people ul li img{width: 247px;height: 134px;}
.info{width: 990px;height: 324px;background-color: #e5e5e5}
.info .nav3 li{width: 290px;height: 98px;;margin-top: 26px;margin-left:26px;float: left}
.info .nav3 li img{width: 290px;height: 98px;}
.info .textt ul{width: 196px;height: 155px;}
.info .textt ul p{width: 192px;height: 20px;border-bottom: 1px solid #c9c9c9;font-size: 14px;font-weight: 600}
.info .textt ul{float: left;margin-top: 25px;margin-left: 50px;}
.info .textt .ul_first{margin-left: 20px;}
.info .textt ul li{width: 192px;height: 26px;line-height: 26px;}
.info .textt ul li a{color: #404040}
.info .textt ul li a:hover{color: red;text-decoration: underline}

.footer{width: 994px;height: 83px;margin-top: 18px;border-top: 1px solid #d1d7dc;text-align: center;line-height: 22px;}
.footer a{letter-spacing: 3px;font-size: 14px;color: #3366cc}
.footer em{color: #864186}
.footer a:hover{color: red;text-decoration: underline}



